slprj
main.asv
results
results_OLD
bad_results
*.original
postWork.asv
results 5+15m 0+5ms
results _ v12
results _v14
results_v12
PSD_notverif
PostProdaction/results_v0
PostProdaction/results_v1
PostProdaction/results_v2
PostProdaction/results_v3
PostProdaction/results_v4
PostProdaction/results_v5
PostProdaction/results_kFast2_v5
PostProdaction/results_kFast2_v0
PostProdaction/results_kFast2_v1
PostProdaction/results_kFast2_v2
PostProdaction/results_kFast2_v3
PostProdaction/results_kFast2_v4
PostProdaction/poligon._mat
PostProdaction/poligon.mat
